input {
    margin: 0 5px;
}

app-triangle-input-panel,
app-transformation-input-panel,
app-frames-input-panel {
    float: left;
    margin-right: 25%;
}

.animation-controls {
    display: inline-block;
}

.animation-controls form button {
    margin: 10px;
}

button:hover {
    border: 2px solid white;
}