<section>
    <canvas #scene></canvas>
</section>

<section>
    <app-triangle-input-panel
        id="start"
        [triangle]="triangles.start"
        (update)="onTriangleInputsUpdated($event)">
    </app-triangle-input-panel>
    
    <app-transformation-input-panel
        [matrix]="matrix"
        [offset]="offset"
        (update)="onTriangleInputsUpdated($event)">
    </app-transformation-input-panel>
    
    <div class="animation-controls">
        <h3>Animation</h3>
        <form>
            <label for="frames">Frames&nbsp;&nbsp;</label>
            <input [(ngModel)]="frames" type="text" id="frames" name="frames" />
            <br />
            <button (click)="clear(); drawTriangle(triangles.start)">Reset Scene</button>
            <button (click)="draw()">Animate</button>
        </form>
    </div>
</section>