<section>
    <app-triangle-input-panel
        id="start"
        [triangle]="triangles.start"
        (update)="onTriangleInputsUpdated($event)">
    </app-triangle-input-panel>
    
    <app-transformation-input-panel
        [matrix]="matrix"
        [offset]="offset"
        (update)="onTriangleInputsUpdated($event)">
    </app-transformation-input-panel>

    <label for="frames">Frames&nbsp;&nbsp;</label>
    <input [(ngModel)]="frames" type="text" id="frames" name="frames">

    <button (click)="clear(); drawTriangle(triangles.start)">Reset</button>
    <button (click)="draw()">Animate</button>
</section>

<section>
    <canvas #scene></canvas>
</section>