<h3>Transformation</h3>
<form autocomplete="off" >
    <input [(ngModel)]="matrix.a" type="text" id="ma" name="ma" >
    <input [(ngModel)]="matrix.b" type="text" id="mb" name="mb" >
    <br />
    <input [(ngModel)]="matrix.c" type="text" id="mc" name="mc" >
    <input [(ngModel)]="matrix.d" type="text" id="md" name="md" >
</form>
<span>+</span>
<form autocomplete="off" >
    <input [(ngModel)]="offset.x" type="text" id="ox" name="ox">
    <br />
    <input [(ngModel)]="offset.y" type="text" id="oy" name="oy">
</form>
