<h3>Transformation</h3>
<form autocomplete="off" >
    <input [(ngModel)]="matrix.a" type="text" id="ma" name="ma" (keyup)="onKey($event)">
    <input [(ngModel)]="matrix.b" type="text" id="mb" name="mb" (keyup)="onKey($event)">
    <br />
    <input [(ngModel)]="matrix.c" type="text" id="mc" name="mc" (keyup)="onKey($event)">
    <input [(ngModel)]="matrix.d" type="text" id="md" name="md" (keyup)="onKey($event)">
</form>
<span>+</span>
<form autocomplete="off" >
    <input [(ngModel)]="offset.x" type="text" id="ox" name="ox" (keyup)="onKey($event)">
    <br />
    <input [(ngModel)]="offset.y" type="text" id="oy" name="oy" (keyup)="onKey($event)">
</form>
