<section>
    <div>
       <div>
          <canvas #scene></canvas>
          <!--<sa-spinner-circular [enabled]="loading" color="white" size="200px"></sa-spinner-circular>-->
          <div *ngIf="loading" class=loader-container>
             <div class="loader"></div>
          </div>
       </div>
       <div class="control-panel">
          <form autocomplete="off" >
            <label for="iterations">Iterations:&nbsp;&nbsp;</label>
            <input [(ngModel)]="settings.iterations" type="text" id="iterations" name="iterations" />

            <label for="angle">Angle:&nbsp;&nbsp;</label>
            <input [(ngModel)]="settings.angle" type="text" id="angle" name="angle" />

            <label for="ratio">Ratio:&nbsp;&nbsp;</label>
            <input [(ngModel)]="settings.ratio" type="text" id="ratio" name="ratio" />

            <label for="length">Length:&nbsp;&nbsp;</label>
            <input [(ngModel)]="settings.length" type="text" id="length" name="length" />

            <label for="ratio">Start Offset:&nbsp;&nbsp;</label>
            <input [(ngModel)]="settings.x" type="text" id="x" name="x" />
            <input [(ngModel)]="settings.y" type="text" id="y" name="y" />

            <select (change)="loadExamples($event.target.value)">
               <option *ngFor="let e of examples; index as i;" value="{{ i }}">
                  {{ e.name }}
               </option>
            </select>

            <input class="axioma" [(ngModel)]="settings.axiom" type="text" id="axiom" name="axiom">
            <input class="reproduction" [(ngModel)]="settings.formula" type="text" id="formula" name="formula">

            <button (click)="redraw()">Draw</button>
            <button (click)="clear()">Reset Scene</button>
          </form>
       </div>
   </div>
 </section>
 