<section>
   <div>
      <div>
         <canvas #scene></canvas>
         <sa-spinner-circular [enabled]="loading" color="white" size="200px"></sa-spinner-circular>
      </div>
      <div class="transformations-panel">
         <button (click)="redraw();">Draw</button>
         <button (click)="clear(); drawRect(this.rectangle)">Reset Scene</button>
         <br />
         <br />
         <br />
         <label for="iterations">Iterations&nbsp;&nbsp;</label>
         <input [(ngModel)]="iterations" type="text" id="iterations" name="iterations" />
  
         <section *ngFor="let t of transformations; index as i;">
            <app-transformation-input-panel 
               [matrix]="t.matrix"
               [offset]="t.offset"
               (update)="onTransformationSettingsUpdate($event)">
            </app-transformation-input-panel>
            <button
               class="remove-transformation"
               (click)="removeTransformation(i)">
               X
            </button>
         </section>
         <section>
            <button (click)="addTransformation()">Add</button>
         </section>
      </div>
  </div>
</section>
